:root {
  --primary-color: rgb(26, 83, 92);
  --secondary-color: rgb(247, 255, 247);
  --accent1-color: rgb(78, 205, 196);
  --accent2-color: rgb(255, 107, 107);
}

a {
  color: #ffe66d;
  padding: 10px;
}

article::after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}

body {
  max-width: 1025px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Rubik", serif;
}


h1 {
  font-family: "Bubbler One", serif;
  color: var(--secondary-color);
  z-index: 1;
  text-align: center;
}

h2 {
  font-family: "Bubbler One", serif;
  color: var(--secondary-color);
  text-align: center;
}

header{
  
  /* background-color: blueviolet; */
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 75px 1fr;
  height: 225px;

}

nav {
  padding: 20px;
  grid-column-start:5;
  grid-column-end: 8;
  grid-row-start: 2;

}

p {
  font-family: "Rubik", serif;
  color: var(--secondary-color);
  padding: 10px;
  z-index: 1;
}

.adventures {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.adventure_img{
  width: 125px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.hero {
  position: relative;
  width: 100%;
  height: 345px;
  /* background-color: black; */
  z-index: 0;
}

.hero article {
  position: absolute;
  background-color: rgb(78, 205, 196, 0.8);
  bottom: 3rem;
  margin: 20px;
}

.hero p {
  padding-top: 5px;
  padding-bottom: 30px;
  height: 100px;
  margin-right: 217px;
}

.hero h1 {
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  padding: 10px;
  font-size: 50px;
  max-width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  justify-self: center;
  box-sizing: border-box;
}

.history{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  text-align: center;
  align-items: center;
}

.history_img{
  width: 200px;
  grid-column: 2/3;
  justify-self: center;
}

.history-text1{
  grid-column: 1/2;
}

.history-text2{
  grid-column: 3/4;
}

.logo {
  /* padding: 20px; */
  grid-column-start: 2;
  grid-row-start: 1;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.navigation li {
	flex: 1 1 auto;
}

.staff_img {
  /* border: 5px solid rgb(255, 107, 107); */
  width: 200px;
  height: auto;
  position: absolute;
  float: right;
  right: 1rem;
  bottom: 1rem;
}

/* footer CSS */

footer {
  padding: 10px 20px;
  width: 100%;
}

.footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}

.copyright {
  width:100%;
  text-align: center;

}

.copyright-container{
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 5;
}

.all_social_media {
  grid-column: 5/6;
  grid-row-end: 2;
  height: 20px;
  padding-top:27px;
 
}

.social_media_link {
  text-decoration: none;
 
}

.social_media_icon {
  height: 20px;
  width: 20px;
}
